<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <packages>
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
</packages>


  <appSettings>

    <!--
      Paratemer to configure the mean to write the message
    -->
    <add key="WriteMean" value="Console"/>

    <!--
      Message to be printed (Business Rule 01)
    -->
    <add key="Message" value="Hello World"/>

  </appSettings>
</configuration>